html,
body {
    height: 100%;
}

.row {
    margin-top: 6px;
    display: flex;
}

.form-rows {
    margin-right: 2rem;
}

.row > label {
    float: left;
    min-width: 10rem;
}

.formField {
    font-family: 'Shadows Into Light', cursive;
    width: 100%;
    float: left;
}

input[type=date] {
    width: 10rem;
}

.save-button {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
}

.button-cancel {
    float: right;
}

/* HIDE RADIO */
[type=radio] {
    width: 0;
    height: 0;
}

[type=radio] + img {
    cursor: pointer;
    height: 3rem;
}
