* {
    box-sizing: border-box;
}

body {
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: large;
}

button {
    cursor: pointer;
}

.grid-container {
    grid-gap: 0;
    display: flex;
}

.left-right {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.notes-details {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
    font-family: 'Shadows Into Light', cursive;
    font-weight: normal;
}

.notes-details-finished {
    grid-column: 1;
    grid-row: 2;
}

.notes-details-title {
    font-weight: bold;
    grid-column: 2;
    grid-row: 1;
}

.notes-details-end-date {
    font-weight: bold;
}

.notes-details-description {
    grid-column: 2;
    grid-row: 2;
    border-style: solid;
    border-width: 1px;
}

.notes-details-edit {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
}

