:root {
    background: #f0eded;
    color: #1c1b1b;
}

html,
body {
    margin: 0;
    min-height: 100%;
}

:root .dark-theme {
    background: #1c1b1b;
    color: #f0eded;
}

* {
    box-sizing: border-box;
}

.dark-theme a {
    color: #8532a8;
}

.dark-theme input:checked {
    filter: hue-rotate(50deg);
}

button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    background-color: lightgrey;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.dark-theme button {
    background-color: #8532a8;
    color: white;
}

.dark-theme button:hover {
    background-color: #6532a8;
}

.dark-theme ::selection {
    color: white;
    background: #8532a8;
}

h1 {
    font-size: xx-large;
    padding-top: 2rem;
}

.dark-theme h1 {
    color: #8532a8;
}

select {
    border: none;
    background-color: lightgrey;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

.dark-theme select {
    background-color: #8532a8;
    color: white;
}

body {
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: large;
}

.grid-container {
    grid-gap: 0;
    display: flex;
}

.left-right {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.notes-details {
    display: grid;
    grid-template-rows: auto  auto  auto auto;
    grid-template-columns: 1fr 5fr 1fr 1fr;
    margin: 15px 10px 50px;
    column-gap: 2.5em;
    font-family: 'Shadows Into Light', cursive;
    font-weight: normal;
    white-space: pre-line;
    min-width: 790px;
}

.notes-details-finished {
    grid-column: 1;
    grid-row: 2;
}

.notes-details-title {
    font-weight: bold;
    grid-column: 2;
    grid-row: 1;
}

.notes-details-priority {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    align-items: flex-end;
}

.notes-details-priority > img {
    height: 2rem;
}

.notes-details-end-date {
    font-weight: bold;
}

.notes-details-description {
    grid-column: 2 / span 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 0.5fr 1fr;
    border-style: solid;
    border-width: 1px;
    height: 3.2em;
    overflow: hidden;
    /*min-width: 200px;*/
}

.notes-details-description-text {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    /*overflow: hidden;*/
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 2;  !*max 2 lines *!*/
    /*-webkit-box-orient: vertical;*/
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.notes-details-description-button {
    grid-column: 3;
    grid-row: 1;
    display: none;
}

.notes-details-description-button-shown {
    display: flex;
    justify-content: flex-end;
    max-height: 1rem;
    background: transparent;
}

.dark-theme .notes-details-description-button-shown {
    background: transparent;
}

.dark-theme .notes-details-description-button-shown:hover {
    background: transparent;
}

.notes-details-description-button-shown-unfolded > img {
    transform: rotate(180deg);
}

.notes-details-description-button-shown > img {
    max-height: 2rem;
    max-width: 2.5rem;
}

.notes-details-description-unfolded {
    height: auto;
}

.notes-details-edit {
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
    display: flex;
    align-items: flex-end;
}

.mandatory-field::after {
    content: " *";
    color: red;
}


