* {
    box-sizing: border-box;
}

body {
    padding: 2rem;
}

.grid-container {
    grid-gap: 0;
    display: flex;
}

.left-right {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.notes-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}
